@import './src/scss/partials/_setup.scss';
@import './src/scss/partials/_typography.scss';
@import './src/scss/partials/_utils.scss';


.wrapper {
	width: 50%;
}

@font-face {
    font-family: STIXGeneralItalic;
    src: url(/dev/STIXGeneralItalic.otf);
}

// body {
// 	height: 500vh;
// }

header {
	// background: url(/dev/IMG_5814.JPG) no-repeat center center fixed;
	height: 130vh;
	margin: 0 auto;
	max-width: 92vh;
}

footer {
	text-align: center;
	padding-top: 3rem;
}

.thcBox .thc {
	max-height: 40%;
	max-width: 40%;
	padding-bottom: 15px;
	margin-left: 7px;
}

.thcSmall {
	max-height: 20%;
	max-width: 20%;
	margin-left: 2rem;
}

.thcSmallServices {
	max-height: 20%;
	max-width: 20%;
	margin-left: 2.2rem;
}

ul {
	list-style-type: none;
	margin-left: .5rem;
	position: fixed;
}

a {
	text-decoration: none;	
}

.sideList {
	margin-top: 6.2rem;
	width: 20%;
}

.soundcloud {
	margin: 0 auto;
	// height: 75vh;
	outline: 0;
	padding: 12px 0 12px 0;
}

.bandcamp {
	margin: 0 auto;
	// height: 75vh;
	width: 30%;
	outline: 0;
	align-items: center;
	padding: 12px 0 12px 0;
}

.collective {
	height: 380vh;
}

// SERVICE PAGE

a.serviceFont {
	padding: 2px;
}

.sideListServices {
	margin-top: 13rem;
}
